@page "/movies/{id:int}/edit/"

<h1>Editar película</h1>

@using Models;
@using DataAccess
@inject MemoryDatabase MemoryDatabase
@inject NavigationManager NavigationManager

<form>
<div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" id="title" @bind="currentMovie.Title" />
</div>
<div class="form-group">
    <label for="director">Director</label>
    <input type="text" class="form-control" id="director" @bind="currentMovie.Director" />
</div>
<div class="form-group">
    <label for="releaseYear">Año de lanzamiento</label>
    <input type="text" class="form-control" id="releaseYear" @bind="currentMovie.ReleaseYear" />
</div>
    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
    <a href="/movies">Cancelar</a>
</form>

@code {
    [Parameter]
    public int Id { get; set; }
    private Movie? currentMovie;

    protected override void OnInitialized(){
        currentMovie = MemoryDatabase.FindMovie(Id);
    }

    private void SaveChanges(){
        MemoryDatabase.UpdateMovie(currentMovie);
        NavigationManager.NavigateTo("/movies");
    }
}
