@page "/categories/create"

<h1>Create Category</h1>

@using Models;
@inject MemoryDatabase MemoryDatabase
@using DataAccess
@inject NavigationManager NavigationManager

<form>
    
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" @bind="element.Name" />
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
        <a href="/categories">Cancelar</a>
    </div>
</form>


@code {
    [Parameter]
    public int Id { get; set; }
    private Category? element;
    private CategoriesRepository? categoriesRepository;

    protected override void OnInitialized()
    {
        categoriesRepository = new CategoriesRepository(MemoryDatabase);
        element = new Category();
    }

    private void SaveChanges()
    {
        categoriesRepository.Create(element);
        NavigationManager.NavigateTo("/categories");
    }
}