@page "/categories/{id:int}/edit"

<h1>Create Category</h1>

@using Models;
@inject MemoryDatabase MemoryDatabase
@using DataAccess
@using DataAccess.SQL
@using AppContext = DataAccess.AppContext
@inject AppContext AppContext
@inject NavigationManager NavigationManager

<form>
    
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" @bind="element.Name" />
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
        <a href="/categories">Cancelar</a>
    </div>
</form>


@code {
    [Parameter]
    public int Id { get; set; }
    
    private Category? element;
    private CategoryRepositorySql? categoriesRepository;

    protected override void OnInitialized()
    {
        categoriesRepository = new CategoryRepositorySql(AppContext);
        element = categoriesRepository.Find(Id);
    }

    private void SaveChanges()
    {
        categoriesRepository.Update(element);
        NavigationManager.NavigateTo("/categories");
    }
}