@page "/actors/{id:int}/edit"

<h1>Create Actors</h1>

@using Models;
@using DataAccess
@using DataAccess.SQL
@using AppContext = DataAccess.AppContext
@inject AppContext AppContext
@inject NavigationManager NavigationManager

<form>
    
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" @bind="element.Name" />
    </div>
    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea type="text" class="form-control" id="bio" @bind="element.Bio"></textarea>
    </div>

    <div class="form-group">
        <label for="bio">Birth Date</label>
        <input type="date" class="form-control" id="bio" @bind="element.BirthDate"/>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
        <a href="/categories">Cancelar</a>
    </div>
</form>


@code {
    [Parameter]
    public int Id { get; set; }
    private Actor? element;

    private ActorRepositorySql? actorsRepository;

    protected override void OnInitialized()
    {
        actorsRepository = new ActorRepositorySql(AppContext);
        element = actorsRepository.Find(Id);
    }

    private void SaveChanges()
    {
        actorsRepository.Update(element);
        NavigationManager.NavigateTo("/actors");
    }
}